<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

    @if(IsSectionDefined("AddToHead"))
      {
                @RenderSection("AddToHead", required: false);
       }

</head>


<body>

    <div class="page-container">

        <div class="side-menu">

            <div class="brand-name">
                <h1>Daily Dairy</h1><br><br>
            </div>

            <ul>
                <li><img src="~/Content/images/dashboard.png">&nbsp;&nbsp;Dashboard</li>
                <li><img src="~/Content/images/health.png">&nbsp;&nbsp; Health check</li>
                <li><img src="~/Content/images/chart.png">&nbsp;&nbsp; Charts</li>
                <li><img src="~/Content/images/logout.png">&nbsp;&nbsp;Logout</li>
            </ul>

        </div>

        <div class="body-container">

            @RenderBody();

        </div>


    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>



</html>